h2 {
    background-color: #5b4caf;
    color: white;
    padding: 14px 20px;
    text-align: center;
  }


input[type=text] {
    width: 100%;
    padding: 12px 18px;
    margin: 8px 0;
    box-sizing: border-box;
  }

   input[type=submit] {
        width: 100%;
        background-color: #5a4caf;
        color: white;
        padding: 16px 20px;
        margin: 12px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
}
